Flask==3.1.1
gunicorn==23.0.0
psycopg2==2.9.10
requests==2.32.3

# authlib
git+https://github.com/OpenSlides/openslides-auth-service.git@6548f50ca778ab4f27e530886080f1482681929d#egg=authlib&subdirectory=auth/libraries/pip-auth
