Flask==2.3.2
gunicorn==21.2.0
psycopg2==2.9.6
requests==2.31.0

# authlib
git+https://github.com/OpenSlides/openslides-auth-service.git@86b7892abd10b4588b110548d88b16da6be3dbe2#egg=authlib&subdirectory=auth/libraries/pip-auth
argon2-cffi
