Flask==3.1.2
gunicorn==23.0.0
psycopg2==2.9.10
requests==2.32.4

# authlib
git+https://github.com/OpenSlides/openslides-auth-service.git@cc2559d228631bab2783d40c7814323497d6ccee#egg=authlib&subdirectory=auth/libraries/pip-auth
